
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-1752YPLP7H"></script>
    <script>window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1752YPLP7H");</script>

    <title>Space | tsParticles 404</title>
    <link type="text/css" rel="stylesheet" href="~/space/css/404.css" />
    <link rel="icon" type="image/x-icon" href=""/>
</head>

<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>
            Uzayda Kayıp Mı Oldun <span>Uzayda</span>
            <br />
            Opppppssss 
            <br />

            Hmm, Sanırım Aradığınız Sayfa Bulunamadı Gibi.
        </h3>
        <img id="astronaut" src="~/space/images/astronaut.svg" />
        <img id="planet" src="~/space/images/planet.svg" />
        <a href="/Login/AuthorLogin/"><button class="denied__link">Go Home</button></a>
        <br />

    </div>

    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
    <script type="text/javascript" src="~/space/js/404.js"></script>
</body>
</html>
